<div class="container">
	<h1 class="center">What would you like to do?</h1>
	<div class="section row">
		<div class="col s12 m4 card pull-m1">
			<div class="card-title center"><a href="/admin/users">User Management</a></div>
			<div class="card-content">
				Card content
			</div>
		</div>
		<div class="col s12 m4 card">
			<div class="card-title center"><a href="/admin/projects">Project Management</a></div>
			<div class="card-content">
				Card content
			</div>
		</div>
		<div class="col s12 m4 card push-m1">
			<div class="card-title center"><a href="/admin/applications">Application Management</a></div>
			<div class="card-content">
				Card content
			</div>
		</div>
	</div>
</div>