<div class="container section">
	<div class="card">
		{{#if single}}
			<h1 class="center section">Application not found</h1>
		{{else}}
			<h1 class="center section">No applications found</h1>
		{{/if}}
	</div>
</div>