<div class="container">
	<div class="card">
		<div class="card-content center">You need to be approved to access {{#if path}}<a href="{{path}}">{{path}}</a>{{else}}this page{{/if}}</div>
	</div>
</div>