<div class="section container">
	<div class="card white section">
		<div class="container">
			<h1 class="center">Access Denied</h1>
			<p class="flow-text">We couldn't verify you <em>wanted</em> to complete this action. Nothing has been done.</p>
		</div>
	</div>
</div>