<div class="container center section">
	<div class="card">
		<div class="card-content center">
			<h1 class="center">{{errorHeader}}</h1>
			{{{errorMessage}}}
			<div class="section">
				<img class="responsive-img materialboxed materialboxedcenter" alt="This is fine! (meme)" src="/img/error.jpg" />
			</div>
		</div>
	</div>
</div>