<div class="section container">
	<div class="section white">
		<h1 class="center">Frequently Asked Questions</h1>
		<div class="question-section">
			<h2 id="unapproved" class="center">Unapproved Projects</h2>
			<div class="question container">
				<h3 id="unapproved/visibility">Visibility</h3>
				<p class="flow-text">If you see a red information icon next to a project, it is not publicly accessible. You cannot share the project with anyone (except for admins), nor can you apply. Usually this happens when said project is not approved</p>
			</div>
		</div>
	</div>
</div>