{{#unless user.approved}}
	<div class="error red-text flow-text center">Your profile is not approved. Your actions are limited</div>
{{/unless}}

<h1 class="center">Welcome, <strong>{{user.name.first}}</strong></h1>

<div class="center">
	<a class="btn center" href="/project">View Projects</a>
</div>