<div class="fixed-action-btn">
	<a class="btn-floating btn-large red accent-4 large help-fab hoverable" href="/project/create" title="Create a project"><i class="material-icons large">create</i></a>
</div>
<div class="container section center">
	<div class="card section">
	{{#if single}}
		<h1 class="section">Project not found</h1>
	{{else}}
		<h1 class="section">No projects found</h1>
	{{/if}}
	//@todo: add more content
	</div>
</div>