<div class="section container">
	<div class="card white section">
		<div class="container">
			<h1 class="center">Approve Application?</h1>
			<p class='flow-text center'>If you're sure you want to approve this application, click the button below!</p>
			<form method="post" class="center">
				<input type="hidden" name="_csrf" value="{{csrf_token}}" />
				<input type='submit' value="Approve!" class="btn green waves-effect waves-light center" />
			</form>
		</div>
	</div>
</div>