/*Global CSS - CSS that is used throughout the site*/
.underlined {text-decoration: underline;}
.materialboxedcenter {margin:0 auto;}
input.validate+label {text-align:left;}
.header-logout i
{
	display:inline-block !important;
	height:auto !important;
	line-height:1 !important;
	position: relative;
	top:7px;
}
.header-profile, .header-logout i, .header-login
{
	padding:0 15px;
	transition:background 0.3s ease;
}
header.global a:hover {background:rgba(33,33,33,0.2);}
.help-fab{font-size:1.6rem;}

/*Profile styles*/
.profile-edit
{
	margin:20px;
	padding:5px;
	height:34px;
	width: 34px;
	background:rgba(25,25,25,0.1);
	position:absolute;
	right:20px;
}
.profile-edit:hover {background:rgba(25,25,25,0.2);}
.profile-main {margin-top:10vh;}
.profile-main .card, .card.nolimit {
	height:auto !important; /*Override card default*/
	display:grid;
}
.user-profile-image	{
	height:10vh;
	width:10vh;
}
p.large
{
	height:3em;
	font-size:2.8em;
	padding-top:0.5em;
}
.headline {
	margin-top:-30px !important;
	margin-bottom:30px !important;
}
.card-content .profile-wrapper {margin-top:-7vh;}
.outlink-container {
	transition: color 0.5s ease;
	padding:0 10px;
	background-repeat: no-repeat;
	background-position:left;
	padding-left:17px;
	background-size:15px;
	max-height: 15px;
}
.outlink-container.nopadhelp {
	margin-left:-8px;
	padding-left:2px;
}
.outlink-container:hover {color: maroon;}
.logo-slack {background-image:url(/img/slack.png);}
.logo-github {background-image:url(/img/github.png);
}
i.logo-website {
	position: relative !important;
	top: 6px !important;
}

.profile-work
{
	position: relative;
	top:2px;
}

@media(max-width:650px)
{
	.outlinks
	{
		display:flex;
		flex-direction: column;
	}
	.outlink-container
	{
		padding:15px 0;
	}
}