<h1>Editing Project Submission Page</h1>

<%= render 'form', project_submission_page: @project_submission_page %>

<%= link_to 'Show', @project_submission_page %> |
<%= link_to 'Back', project_submission_pages_path %>
